/*

Mid-brown: #B6A895
Dark brown: #6b3f22
Light brown: #F4F0EB

*/

/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
@media (min-width:768px) {
	html {
		font-size: 20px;
	}
}
body {
	font-size: 1em;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
	line-height: 1.4;
  color: #333;
  background-color: #E7E7E7;
  margin-top: 85px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img {
	width: 100%;
	height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}
/* Helper class to center a set of columns horizontally */
.center-block {
  float: none;
}

/*
 * Typography
 */

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ff-tisa-web-pro", serif;
  color: #7E7E7E;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
h1 {
	margin-top: 0px;
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}
a {
  color: #7E7E7E;
  border-bottom: 2px solid #7E7E7E;
  transition: all .3s;
}
a:hover {
  color: #9B9B9B;
  border-bottom: 2px solid #9B9B9B;
  text-decoration: none;
  transition: all .3s;
}
ol li,
ul li {
  margin-top: 0px;
	margin-bottom: .75rem;
}
blockquote {
  border-left: none;
  font-size: .9rem;
  line-height: 1.35;
  padding-left: .75rem;
  padding-right: .75rem;
}
hr {
	border-top: 2px solid #E7E7E7;
	border-bottom: none;
	border-left: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*
 * Navigation
*/

.navbar-default {
  background-color: rgba(255,255,255,.95);
  border: 0px;
}
.navbar-default .navbar-nav li {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    padding-top: 15px;
  }
}
.navbar-default .navbar-nav li a {
  color: #999;
  border-bottom: 0px;
  display: block;
}
.navbar-default .navbar-nav li a:hover {
  color: #7E7E7E;
}
.navbar-default .navbar-brand {
  -webkit-transform: skew(-23deg);
  -ms-transform: skew(-23deg);
  transform: skew(-23deg);
  background-color: #7E7E7E;
  font-size: 1.15rem;
  margin-left: 30px !important;
  line-height: 40px;
  height: 85px;
}
@media (min-width: 768px) {
  .navbar-default .navbar-brand {
    margin-left: 18px !important;
  }
}
.navbar-default .navbar-brand:hover {
  background-color: #7E7E7E;
}
.navbar-default .navbar-brand img {
  max-width: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-brand a {
  display: block;
  margin-left: 15px;
  margin-right: 20px;
  -webkit-transform: skew(23deg) !important;
  -ms-transform: skew(23deg) !important;
  transform: skew(23deg) !important;
  text-decoration: none;
  border-bottom: 0px;
}
.navbar-toggle {
  margin-top: 25px;
}

/*
 * Header Image
 */

.header-image img {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
 * Card
 */

.card {
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #FFF;
}
@media (min-width: 768px) {
  .card {
    padding: 40px;
  }
}

/*
 * Buttons
 */

.card-button {
  display: block;
  font-size: .85rem;
  background-color: #7E7E7E;
  border-top: 1px solid #FFF;
  color: #FFF;
  padding-left: 40px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: -20px;
  margin-right: -20px;
}
@media (min-width: 768px) {
  .card-button {
    margin-left: -40px;
    margin-right: -40px;
  }
}
.card-button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.card-button-group {
  margin-top: 30px;
  margin-bottom: -20px;
}
@media (min-width: 768px) {
  .card-button-group {
    margin-bottom: -40px;
  }
}
.card-button-group a {
  color: #FFF;
  border-bottom: 0px;
}
.card-button-group a:hover {
  background-color: #9B9B9B;
  color: #FFF;
  text-decoration: none;
}

/*
 * Post
 */

.post .post-title {
  border-bottom: 0px;
}
.post-meta {
  color: #9B9B9B;
  font-size: .8rem;
}

/*
 * Footer
 */

footer {
  min-height: 200px;
  background-color: #9B9B9B;
  color: #FFF;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer ul {
  list-style: none;
  padding: 0px;
}
footer a {
  color: #FFF;
  border-bottom: 0px;
}
footer a:hover {
  color: #FFF;
  opacity: .5;
  border-bottom: 0px;
}
footer h2 {
  color: #FFF;
  margin-top: 1rem;
}
.footer-logo {
  max-width: 200px;
  opacity: .5;
}