<footer class="hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h2>Site Map</h2>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/apartments">Apartments</a></li>
          <li><a href="{{ site.baseurl }}/amenities">Amenities</a></li>
          <li><a href="{{ site.baseurl }}/community">Community</a></li>
          <li><a href="{{ site.baseurl }}/news">News</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          <li><a href="https://www.rentcafe.com/residentservices/hobart-crossing/userlogin.aspx">Resident portal</a></li>
        </ul>
      </div>
      <div class="col-md-7">
      </div>
      <div class="col-md-3">
        <img class="footer-logo" src="{{ site.baseurl }}/img/hobart-crossing-logo-full.png" alt="Hobart Crossing">
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.lightbox.js"></script>
<script>
		$(function()
		{
      $('.gallery .thumbnail').lightbox();
			$('.gallery-2 .thumbnail').lightbox();
		});
	</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
