<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h2>Site Map</h2>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/apartments">Apartments</a></li>
          <li><a href="{{ site.baseurl }}/community">Community</a></li>
          <li><a href="{{ site.baseurl }}/news">News</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-7">
        <h2>About Hobart Crossing</h2>
        <p>There’s an exciting new place to call home in the greater Green Bay area. Beginning August 2015 the area’s newest upscale leased residences, Hobart Crossing, will be ready for occupancy. With a convenient location, unmatched amenities and variety of floor plans, Hobart Crossing has been designed to meet the needs of young professionals or empty nesters interested in luxurious, maintenance-free <a href="{{ site.baseurl }}/apartments">apartments</a> in a beautiful environment.</p>
      </div>
      <div class="col-md-3">
        <img class="footer-logo" src="{{ site.baseurl }}/img/hobart-crossing-logo-full.png" alt="Hobart Crossing">
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.lightbox.js"></script>
<script>
		$(function()
		{
      $('.gallery .thumbnail').lightbox();
			$('.gallery-2 .thumbnail').lightbox();
		});
	</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>