<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Site Map</h2>
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/apartments">Apartments</a></li>
          <li><a href="{{ site.baseurl }}/community">Community</a></li>
          <li><a href="{{ site.baseurl }}/news">News</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>About Hobart Crossing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis justo eget magna vehicula molestie. Sed porta feugiat lacus ut ultrices.</p>
      </div>
      <div class="col-md-3">
        <img class="footer-logo" src="{{ site.baseurl }}/img/hobart-crossing-logo.png" alt="Hobart Crossing">
      </div>
    </div>
  </div>
</footer>