<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{% if page.title %}{{ page.title}} | {% endif %}{{ site.title }}</title>
    
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.lightbox.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/hobart.css">
  
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png">
  <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico">
  
  <script src="//use.typekit.net/lhr6cua.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
